<ion-view title="Graph" id="page1">
  <div class="col">
    <div class="row">
      <ion-content padding="true" scroll="false">
        <div id="plot"></div>
        <form id="form" class="list">
          <div class="item item-input">
            <ion-label name="equation" for="eq"><strong>Enter An Equation:</strong></ion-label>
            <input type="text" id="eq" value=" 4 * sin(x) + 5 * cos(x/2)" />
          </div>
          <button type="submit" class="button button-block button-positive"> Update Graph!</button>
        </form>
      </ion-content>
    </div>
  </div>
</ion-view>