<ion-view title="Signup" id="page5">
  <ion-content padding="true" class="has-header" scroll="false">
    <form id="signup-form2" name="form2" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3" name="firstName">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="user.firstName" placeholder="First Name" required>
        </label>

        <label class="item item-input" id="signup-input6" name="lastName">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="user.lastName" placeholder="Last Name" required>
        </label>

        <label class="item item-input" id="signup-input7" name="age">
          <span class="input-label">Age</span>
          <input type="number" ng-model="user.age" placeholder="20" required>
        </label>

        <label class="item item-input" id="signup-input8" name="country">
          <span class="input-label">Country</span>
          <input type="text" ng-model="user.country" placeholder="Country" required>
        </label>

        <label class="item item-select" id="signup-select1" name="educationList">
          <span>Education</span>
          <select ng-model="user.education" required>
            <option disabled selected value="">Education Level</option>
            <option value="Elementary">Elementary</option>
            <option value="High School">High School</option>
            <option value="Post Secondary">Post Secondary</option>
          </select>
        </label>

        <label class="item item-input" id="signup-input4">
          <span class="input-label">Username</span>
          <input ng-minlength="5" type="text" ng-model="user.name" placeholder="Must Be 5 Characters" required>
        </label>

        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input ng-minlength="6" type="password" ng-model="user.password" placeholder="Must Be 6 Characters" required>
        </label>

      </ion-list>
      <button class="button button-positive button-block"  ng-disabled="form2.$invalid" ng-click="add(user)">Sign up</a>
    </form>
  </ion-content>
</ion-view>

